favorites=
recent=
button-title=Aplicaciones
button-icon=lliurex_badge-symbolic
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
item-icon-size=3
hover-switch-category=true
category-icon-size=2
load-hierarchy=true
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=true
menu-width=723
menu-height=641
menu-opacity=100
command-settings=mate-control-center
show-command-settings=true
command-lockscreen=mate-screensaver-command -l
show-command-lockscreen=true
command-switchuser=lliurex-session-manager
show-command-switchuser=false
command-logout=lliurex-session-manager
show-command-logout=true
command-menueditor=mozo
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=0

